<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-onSpota"
    version="1.0.0">
    <name>OnSpota SDK Cordova Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/davgc/cordova-plugin-onspota.git</repo>
    
  <engines>
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-android" version=">=5.1.0" />
    <engine name="cordova-ios" version=">=4.5.0" />
  </engines>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- Este es el nombre por el cual se accedera el plugin -->
        <clobbers target="OnSpota" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="OnSpota">
          <param name="android-package" value="com.syntonize.OnSpota" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

       <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        </config-file>

      <source-file src="src/android/com/syntonize/OnSpota.java" target-dir="src/com/syntonize/" />
       <lib-file src="src/android/onspota-sdk.aar" />

    </platform>

    <!-- ios -->
    <platform name="ios">

    <preference name="LOCATION_WHEN_IN_USE_DESCRIPTION" default="This app wants to get your location while this app runs only."/>
    <preference name="LOCATION_ALWAYS_USAGE_DESCRIPTION" default="This app wants to get your location always, even this app runs in background."/>
    <preference name="MOTION_USAGE_DESCRIPTION" default="This app wants to get your motion."/>


        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="OnSpota" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="OnSpota">
                <param name="ios-package" value="OnSpota" onload="true" />
            </feature>
        </config-file>


         <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
          <string>$LOCATION_WHEN_IN_USE_DESCRIPTION</string>
         </config-file>
         <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
          <string>$LOCATION_ALWAYS_USAGE_DESCRIPTION</string>
         </config-file>
         <config-file target="*-Info.plist" parent="NSMotionUsageDescription">
          <string>$MOTION_USAGE_DESCRIPTION</string>
         </config-file>
         <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
                <string>location</string>
            </array>
         </config-file>

        <dependency id="cordova-plugin-cocoapod-support"/>


        <pods-config ios-min-version="11.0" use-frameworks="true">
             <!-- optionally add private spec sources -->
        </pods-config>

        <pod name="AFNetworking" spec="~> 3"/>
        <pod name="JSONModel" spec="~> 1.2"/>
        <pod name="ISO8601" spec="~> 0.6"/>

        <header-file src="src/ios/OnSpota.h" />
        <source-file src="src/ios/OnSpota.m" />

        <framework src="src/ios/Framework/OnSpotSdk.framework" custom="true" embed="true" />

        

    </platform>
</plugin>
